html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  appearance: none;
  -webkit-appearance: none;
}

::selection {
  background: #ef151d;
  color: #ffffff;
}